@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'nunito',sans-serif;
}
:root{
    --bg-color:#000;
    --snd-bf-color:hsl(225, 6%, 13%);
    --text-color:#fff;
    --main-color:#6d2222;

}
html{
    font-size: 62.5%;
    color: var(--text-color);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
header{
position: fixed;
top: 0;
left: 0;
width:100%;
padding: 2rem 9%;
background: var(--bg-color);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background: #000;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}
.navbar a{
    font-size: 1.5rem;
    color:var(--text-color);
    margin-left:4rem;
    font-weight: 700;
}

 header.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .home-content h3{

font-size: 3.2rem;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-size: 700;
    line-height: 1.3;
}
.homeimage img{
    border-radius: 50%;
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;


}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content{
    font-size: 1.6rem;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin:3rem 1.5rrem 3rem 0;
    transition: .5s ease;

}
.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);

}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin: 1rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{

    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--snd-bf-color);
}
.about-img img{
    width: 35vw;
    border-radius: 20%;
   
}
.heading{
    text-align: center;
    font-size:4.5rem;

}
.about-contant h2{
    text-align: left;
    line-height: 1.2;
}
.about-contant h3{
    font-size: 2.6rem;
}
.about-contant p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
}
.skills{
    list-style: none;
    text-transform: capitalize;
    font-size: 1.6rem;
    
}
.skills .skill h1{
    text-align: center;
}
.skills .skill h3{
     margin: 5px;
}
 .skills .skill{
    width: 50%;
    height: 50%;
} 
.skill li{
    margin: 10px 0;
    padding: 10px;
}
.bar{
    background: var(--main-color);
    display: block;
    height: 10px;
    border:1px solid rgba(24, 11, 11, 0.986);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(2, 2, 2, 0.836),0 1px 2px rgba(11, 11, 11, 0.874);
transition: all o.3s cubic-bezier(1.25,8,25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgb(92, 18, 18),0 10px 10px rgb(68, 18, 18);

}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(69, 21, 21)0%,rgb(252, 164, 164)100%); 
 } 
.html{
    width: 90%;
    animation: html 3s ;
}
.css{
    width: 80%;
    animation: css 3s ;
}
.javascript{
    width: 60%;
    animation: javascript 3s ;
}
.java{
    width: 70%;
    animation: java 3s ;
}
.python{
    width: 70%;
    animation:python 3s ;
}
.c{
    width: 80%;
    animation: c 3s ;
}
.skills{
    display: flex;
}
.sskill{
    padding-left: 50px;
    width: 50%;
    height: 50%;
}
.sskill li{
    margin: 10px 0;
    padding: 10px;
}
.sskill h3{
    margin: 5px;
}
.sskill h1{
    text-align: center;
}
.bars{
    background: var(--main-color);
    display: block;
    height: 10px;
    border:1px solid rgba(24, 11, 11, 0.986);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(2, 2, 2, 0.836),0 1px 2px rgba(11, 11, 11, 0.874);
transition: all o.3s cubic-bezier(1.25,8,25,1);
}
.bars:hover{
    box-shadow: 0 14px 28px rgb(92, 18, 18),0 10px 10px rgb(68, 18, 18);

}
.bars span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(69, 21, 21)0%,rgb(252, 164, 164)100%); 
 } 
.com{
    width: 90%;
    animation: com 3s ;
}
.leader{
    width: 80%;
    animation: leader 3s;
}
.creativity{
    width: 90%;
    animation: creativity 3s;
}
.ps{
    width: 70%;
  animation: ps 3s;  
}
.project{
    background: var(--snd-bf-color);
}
.project h2{
    margin-bottom: 4rem;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius:2rem ;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;
}
.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}
.project-layer a i{
    font-size: 2rem;
    color: var(--snd-bf-color);
}
.contact h2{
    margin-bottom: 3rem;

}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .contact form .input-box input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding:1.6rem ;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: 8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 40%;
}
.contact form textarea{
   resize: none;
   border-radius: 10px;
}
.contact form .btn{
    margin-top: 2rem;
    cursor:pointer;
}
@media(max-width : 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 5rem 3%;
    }
    .skills{
        padding: 7rem;
    }
    .project{
        padding-bottom: 7rem;
    }

}
@media(Max-width:768px){
#menu-icon{
    display: block;
}
.navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 1rem solid rgba(0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
    display: none;
}
.navbar.active{
    display: block;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}
.home{
    flex-direction: column;
}
.home-content h3{
    font-size: 2.6rem;
}
.home-content h1
{
    font-size: 5rem;
}
.homeimage img{
    /* width: 90vw;
    margin-top: 4rem; */
    display: none;
}
.about{
    flex-direction: column;
}
.about-img img{
    width: 50vw;
    margin-top: 4rem;
}
.skills h2{
    margin-bottom: 3rem;
}
.project h2{
    margin-bottom: 3rem;

}
.project-container{
    grid-template-columns: repeat(2,1fr);
}
}
@media(Max-width:617px){
    .project-container{
        grid-template-columns: 1fr;
    }
    .homeimage img{
        width: 50vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 50vw;

    }
}
@media(Max-width:450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}


